<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png">
        <span class="title">ngx-frame</span>
      </div>
      <div class="desc"></div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon type="copyright" theme="outline"></i>
      2018
      <a href="//github.com/qiuziz/ngx-frame" target="_blank">qiuz</a>出品
    </global-footer>
  </div>
</div>
